{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/movie_list.css' %}">
{% endblock css %}


{% block upcoming %}
<h4>Top Upcoming Movies</h4>
<div class="row">
  {% for movie_title,movie_poster in top_movie_zipped %}
  <div class="col-md-3  ">
    <div class=" card border border-primary" style="width: 18rem;">
      <img class="card-img-top rounded img-fluid" src="https://image.tmdb.org/t/p/w500{{movie_poster}}"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{movie_title}}</h5>




      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock upcoming %}


{% block content %}
<div class="container mt-5">
  <h4 class="text-center">Movies you may like</h4>

  <!-- Movie list -->
  <div class="row">
    {% for row in data %}

    <div class="col-md-3  ">
      <div class=" card border border-primary" style="width: 18rem;">
        <img class="card-img-top rounded img-fluid" src="https://image.tmdb.org/t/p/w500{{row.image_urls}}"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{row.title}}</h5>

          <a href="{% url 'movie_detail' row.id  %}"> <span class=" border  watch_text ">
              Add to Favourite
            </span> </a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}